#content{
	background-color: white;
	width: 35em;
	margin-right:auto;
	margin-left:auto;
	padding: 1em;
/*	min-height:500px;*/
}

#footer{
	width: 35em;
	margin-right:auto;
	margin-left:auto;
	padding: 1em;
	clear:both;
}

#nav{
	padding:0;
	margin:0;
}

.navitem{
	display:inline;
	list-style-type: none;
	margin:0em 0.5em 0em 0.5em;
}

#topbar{
/*	position:fixed;*/
	width: 35em;
	margin-top:0;
	padding-top:0;
	margin-right:auto;
	margin-left:auto;
	padding: 1em;
	border-bottom: solid black 1px;
}

.floatpic-left{
	margin:1em;
	margin-left:0em;
}

.floatpic-right{
	margin:1em;
	margin-right:0em;
}

.imgcaption-left{
	color:#999999;
	padding-left:0.5em;
	text-align:left;
	position:relative;
	margin-left:-10em;
	width:8em;
	float:left;
	font-family:'IM Fell Great Primer', serif;
	font-size:0.9em;
	line-height:1.5em;
	font-style:italic;
}

.imgcaption-right{
	color:#999999;
	padding-left:0.5em;
	text-align:left;
	position:relative;
	margin-right:-10em;
	width:8em;
	float:right;
	font-family:'IM Fell Great Primer', serif;
	font-size:0.9em;
	line-height:1.5em;
	font-style:italic;
}


a:link{
	color:#992222;
}

a:hover{
	color:#228822;
}


h1{
	color:#992222;
}

body {
	padding:0;
	margin:0;
	background-color: white;
	color: #666666;
	font-family: Verdana, "Bitstream Vera Sans", sans-serif;
	line-height:1.7em;
	text-align:justify;
	text-justify:inter-word;
}