{% extends "base.html" %}
{% block title %}Flask on CERN AFS{% endblock %}

{% macro floatimg(src, side, width=10, caption='', caller=None) %}
	<div class="floatpic-{{side}}" style="float:{{side}};">
		<div class="imgcaption cap-{{side}}">
			{{caption}}
			{% if caller is callable %}{{caller()}}{% endif %}
		</div>
		<img src="{{src}}" style="width:{{width}}em;"/>
	</div>
{%- endmacro %}

{% macro embed(caller) %}
	<div class="called" style="color:red;">{{caller()}}</div>
{% endmacro %}

{% block content %}
  <h1>Flask on CERN AFS</h1>
	<p>
		Getting a personal web-space is fairly easy as a CERN user. Among other options you can choose to get a site hosted based on files in your personal AFS space. At first sight you are stuck with the standard LAMP (Linux, Apache, MySQL, PHP) experience. If you like Python based frameworks instead a little bit of fiddling is needed.  For Django CERN IT has a nice <a href="https://espace.cern.ch/webservices-help/WebAuthoring/DynamicWebContent/Pages/Django-Framework.aspx">tutorial</a>. The following adapts it for Flask.
	</p>
My page is setup to be served from this folder under my personal AFS space<code>/afs/cern.ch/user/l/lheinric/www/public</code>. All commands are executed from there.

</p>

<p>
First we will get Flask. To install it we will use a <code>virtualenv</code> which allows us to install python packages via <code>pip</code>.
<pre><code>virtualenv venv
source venv/bin/activate
pip install Flask</code></pre>
</p>

<p>
To start you need to get the flup python module:
<pre><code>wget https://pypi.python.org/packages/2.6/f/flup/flup-1.0.2-py2.6.egg</code></pre>

The glue between the Apache server and the python server is a FastCGI script <code>homepage.fcgi</code> which must be put info a <code>cgi-bin</code> folder. Since we want to use our Flask install the shebang line needs to point to the virtualenv python instance. Also we need to add <code>flup</code> and the directory in which the page will reside known to the python search path.

<pre><code>mkdir cgi-bin
pico cgi-bin/homepage.fcgi</code></pre>

<pre><code>#!/afs/cern.ch/user/l/lheinric/www/public/venv/bin/python

import sys
sys.path.insert(0,'/afs/cern.ch/user/l/lheinric/www/public/flup-1.0.2-py2.6.egg')
sys.path.insert(0,'/afs/cern.ch/user/l/lheinric/www/public/homepage')

from flup.server.fcgi import WSGIServer
from homepage import app

if __name__ == '__main__':
    WSGIServer(app).run()</code></pre>

</p>
<p>
In order to teach Apache to relay the requests through Flask we add this <code>.htaccess</code> file:
<pre><code>pico .htaccess</code></pre>
<pre><code>AddHandler fastcgi-script .fcgi
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ cgi-bin/homepage.fcgi/$1 [QSA,L]</code></pre>
</p>
<p>
Now we can check out our page source (this example will produce the current page).
<pre><code>git clone https://github.com/lukasheinrich/flaskcern.git homepage</code></pre>

Finally all the files need to be visible to the webserver user on AFS:
<pre><code>afind $PWD -t d -e "fs setacl -dir {} -acl webserver:afs read"</code></pre>
</p>
  
{% endblock %}